<header class="header">
  <h1> יוגה חדרה  </h1>
  <nav>
    <a href="#about-me">עליי</a>
    <a href="#about-yoga">על יוגה</a>
    <a href="#location-time">מיקום ושעות</a>
    <a href="#contact">צור קשר</a>
  </nav>
</header>
<div id="about-me" class="about-me">
  <div class="text-container">
    <figure class="shape">
      <div class="img"></div>
    </figure>
    <h2>
      על עצמי
    </h2>
    <p> שמי ולדמיר רויאך אני מורה ליוגה כבר למעלה מ40 שנה. נולדתי ב-1947, נכה עם בעיות במפרקי העגן, רגל אחת קצרה בשלושה סנטימטרים. ב-1969 צפיתי בסרט "יוגים הודים מי הם?" והחלטתי שכך אני רוצה ושזה יעזור לי בחיים. לא היו לא ספרים ולא מורים אבל כשיש רצון יש דרך. תמיד הייתי הולך נגד הזרם והתגברתי על מחלות שנוצרו עקב התעקמות עמוד השדרה בעזרת היוגה. לפי הבנתי יוגה נותנת כוח לחיים ואפשרות לפיתוח הכוח , עוזר לפעילות כל המערכות וכל האיברים שליטה בנשימה ושקט נפשי.</p>
  </div>
</div>
<div id="about-yoga" class="about-yoga">
  <h2>על יוגה</h2>
  <p>יוגה היא החיבור בין הגוף לנפש. בבסיס היוגה שוכן פיתוח כל תחומי החיים של האדם. יוגה מפצה על הזדקנות האדם (האדם צריך להרגיש בזקנתו כמו שהרגיש בצעירותו) כדי לעסוק ביוגה אדם צריך לדעת על מבנה גוף האדם כמו כן לדעת על העולם במלואו. יוגה נותנת שליטה על השכל מה שנותן אפשרות לשלוט על התהליכים  המתרחשים בגוף ובחיינו. בנאדם השולט בשכלו הוא בנאדם בריא.</p>
</div>
<div id="location-time" class="cards-container">
  <div class="card">
    <div class="image">
      <img class="image__img" src="assets/img/tichon-hadera.jpg" alt="אולם ספורט תיכון חדרה">
      <div class="image__overlay"></div>
    </div>
    <div class="information">
      <div class="location">
        <mat-icon>location_on</mat-icon>
        <p>אולם ספורט תיכון</p>
      </div>
      <div class="time">
        <p class="time__day">ראשון:</p>
        <p>20:00-21:30
        </p>
        <p class="time__day">רביעי:</p>
        <p>20:00-21:30
        </p>
      </div>

    </div>
  </div>
  <div class="card">
    <div class="image">
      <img class="image__img" src="assets/img/miklat.png" alt="מקלט ברחוב האצ״ל">
      <div class="image__overlay"></div>
    </div>
    <div class="information">
      <div class="location">
        <mat-icon>location_on</mat-icon>
        <p>רחוב האצ"ל</p>
      </div>
      <div class="time">
      <p class="time__day">ראשון:</p>
      <p>08:30-10:00
        </p>
        <p class="time__day">שני:</p>
        <p>08:30-10:00 <br> 18:00-19:30
        </p>
        <p class="time__day">שלישי:</p>
        <p>20:00-21:30
        </p>
        <p class="time__day">רביעי:</p>
        <p>08:30-10:00<br> 18:00-19:30
        </p>
        <p class="time__day">חמישי:</p>
        <p>08:30-10:00<br> 18:00-19:30
        </p>
      </div>
    </div>
  </div>
</div>
<footer id="contact">
  <a href="tel:+972547637000">טלפון: 054-7637000</a>
  <p>כל התמונות באתר צולמו משיעורים או סדנאות</p>
  <a href="mailto:zeev.royah@gmail.com">zeev.royah@gmail.com </a>
</footer>